@import url('https://fonts.googleapis.com/css?family=Cabin|Raleway');

@font-face {
    font-family: LinLib;
    src: url('LinLibertine_Rah.ttf');
}

body {
  background-color: white;
}

#main {
  background-color: white;
  margin-top: 80px;
  padding-left: 0px;
  padding-bottom: 20px;
}

header h1 {
  font-family: LinLib;
  font-size: 80px;
  color: #292F36;
}

header h1 span {
  font-size: 60px;
}

#subHead {
  font-family: LinLib;
  font-size: 15px;
  margin-top: -20px;
}

form label {
  color: #292F36;
  font-size: 25px;
  padding: 10px;
  font-family: LinLib;
}

button {
  padding: 4px;
  border-radius: 5px;
  font-family: LinLib;
  background-color: #292F36;
  border: 1px solid #292F36;
  box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.53);
  color: #F7FFF7;
}

ul {
  background-color: #292F36;
  padding-left: 0px;

}

ul li {
  padding: 15px;
  list-style-type: none;
  margin-top: 2px;
  font-family: LinLib;
}
li {
  background-color: #C5C3C6;
}

li:nth-child(odd) {
  background-color: #DCDCDD;
}

li a {
  font-family: LinLib;
  font-size: 20px;
  color: #1758EF;
}
#about {
  font-family: LinLib;
  /*text-transform: uppercase;*/
  font-size: 23px;
  color: #292F36;
}
#submit-btn-random {
  font-family: LinLib;
  font-size: 15px;
  width: 240px;
  background-color: #292F36;
  color: #F7FFF7;
  border: 1px solid #292F36;
  margin-left: 10px;
  box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.53);
}
#error {
  color: #292F36;
}
