@import url('https://fonts.googleapis.com/css?family=Cabin|Raleway');

body {
  background-color: #292F36;
}

#main {

  margin-top: 80px;
}

header h1 {
  font-family: 'Cabin', sans-serif;
  font-size: 60px;
  color: #F7FFF7;
}

form label {
  color: #F7FFF7;
  font-size: 20px;
  padding: 10px;
  font-family: 'Raleway', sans-serif;
}
button {
  padding: 2px;
  border-radius: 5px;
  background-color: #DCDCDD;
  font-family: 'Cabin', sans-serif;
  background-color: #F7FFF7;
  border: 1px solid #FFE66D;

}

ul {
  background-color: #FFE66D;
  padding-left: 0px;

}

ul li {
  padding: 15px;
  list-style-type: none;
  margin-top: 2px;
  font-family: 'Raleway', sans-serif;

}
li {
  background-color: #C5C3C6;
}

li:nth-child(odd) {
  background-color: #DCDCDD;
}

li a {
  font-family: 'Cabin', sans-serif;
  font-size: 20px;
  color: #1758EF;
}
#about {
  font-family: 'Cabin', sans-serif;
  font-size: 30px;
  color: #F7FFF7;
}
#submit-btn-random {
  width: 280px;
  background-color: #F7FFF7;
  border: 1px solid #FFE66D;
}
#error {
  color: #F7FFF7;
}
